.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add{
  background-color: blue;
  color: red;
  width: 50px;
}